# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\coderslab\CRUD\jee-user-crud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
